@{
  ViewBag.Title = "Evaluate";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/User/index.less")" rel="stylesheet" />
}

<div class="content" >
  <div class="title">
    <h3>**的个人资料</h3>
  </div>
  <div class="userinfo-head">
    <ul>
        <li>用户名：11111</li>
        <li>注册时间：2013-01-01</li>
        <li>认证信息：实名已认证 &nbsp;<i></i></li>
      </ul>
  </div>
  <div class="evaluate">
    <h3>**的信用</h3>
    <span>好评率：好评 &nbsp 0 &nbsp;条，中评 &nbsp; 1 &nbsp;条，差评 &nbsp; 0 &nbsp; 条</span>
    <h3>详细评价</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>评价</td>
          <td style="width:100px">username</td>
        </tr>
      </tbody>
    </table>
    <div class="remark">
      <form action="">
        <h3>我要评价</h3>
      <div class="remark-survey" style="margin-left:20px">
        <label class="radio good">
          <input type="radio" name="evaluate" value="" />
          <a data-toggle="tooltip" data-placement="bottom" title="好评" >
            <i class="icon icon-good"></i></a>
        </label>
        <label class="radio center">
          <input type="radio" name="evaluate" value="" />
          <a data-toggle="tooltip" data-placement="bottom" title="中评" >
            <i class="icon icon-center"></i>
          </a>
        </label>
        <label class="radio bad">
          <input type="radio" name="evaluate" value="" />
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="差评">
            <i class="icon icon-bad"></i>
          </a>
        </label>
      </div>
      <div class="remark-detail">
        <h4>详细评价</h4>
        <div>
          <textarea rows="10" style="width:580px"></textarea>
        </div>
      </div>
       <button type="submit" class="btn btn-primary" style="text-align:center">
         <i class="icon-ok"></i>&nbsp;提交
       </button>
      </form>
      
    </div>
  </div>
</div>
@section scripts{
  <script>
    $("[data-toggle=tooltip]").tooltip();
  </script>
}