<html>
  <head>
    <title>Nothing found for 404</title>
  </head>
  <body>
<div class="error_page">
  <img src="../../Content/images/404.gif" />
  <h3>We're sorry...</h3>
  <p>The page you are looking for cannot be found.</p>
  <a href="/Home/Index">返回首页</a>
</div>

<style type="text/css">
  .error_page {
    width: 600px;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    color: #666;
  }
</style>
    </body>
</html>