@using SecondHandMarket.Models
@model Release
@{
    ViewBag.Title = "商品发布成功";
    Layout = "~/Views/Shared/_FGLayout.cshtml";
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/Release/index.less")" rel="stylesheet" />
}
<div class="content">
  <h1>发布@(Model.Title)成功</h1>
  <a class="btn" href="@Url.Action("Release", "User")">
    <i class="icon-reply"></i>&nbsp;我的发布
  </a>
</div>
