@using SecondHandMarket.Models
@{
  ViewBag.Title = "首页";
  Layout = "../Shared/_FGLayout.cshtml";
  var firstLevelCategories = ViewBag.FirstLevelCategories as List<Category>;
}
   

<header>
  <link href="@Url.Content("~/Content/pagecss/Home/index.less")" rel="stylesheet" />
</header>
<div class="content">
  <div class="homeImg">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="active item">
          <img src="../../Content/images/home2.png" />
        </div>
        <div class="item">
          <img src="../../Content/images/home1.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="layout">
    <div class="layout left">
      @Html.Partial("CategoryNavigator", firstLevelCategories)
    </div>
    <div class="goods">
      <div class="newest range">
        <div class="tag">
          <span>最新发布</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="../Goods/Index">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="mobile range">
        <div class="tag">
          <span>二手手机/手机号码</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="../Goods/Detail">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="../Goods/Index">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="computer range">
        <div class="tag">
          <span>二手电脑/配件</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="#">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="bicycle range">
        <div class="tag">
          <span>二手自行车/电动车</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="#">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="books range">
        <div class="tag">
          <span>二手运动/图书</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="#">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="clothing range">
        <div class="tag">
          <span>二手服装/箱包</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="#">
            <span>更多</span>
          </a>
        </div>
      </div>
      <div class="others range">
        <div class="tag">
          <span>其他</span>
        </div>
        <div class="show">
          <ul>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest1.jpg" />
                  <span>4分钟 1980元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest2.jpg" />
                  <span>4分钟 2350元</span>
                </a>
              </div>
            </li>
            <li>
              <div>
                <a href="#">
                  <img src="../../Content/images/newest4.jpg" />
                  <span>4分钟  520元</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="more">
          <a href="#">
            <span>更多</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

