@import "../../less/variables.less";
@import "../../less/mixins.less";

.content {
    width: 980px;
    margin: auto;
}


.layout.left {
    float: left;
    width: 170px;
	clear:left;
}

.navigationBar {
    border: 1px solid #52A82B;

    .quick-main {
        background-color: #52A82B;
        height: 30px;

        span {
            font-size: 18px;
            font-weight: bold;
            color: white;
            margin-left: 48px;
            line-height: 30px;
        }
    }
}

    .navigationBar ul.dropdown-menu {
        background-color: black;
        border: 1px solid #52A82B;
        width: 290px;
        margin-left: 1px;
        margin-top: -1px;

        dl {
            height: 48px;

            dt {
                float: left;
                width: 70px;
                padding-left: 10px;
            }

            ul {
                margin-left: 10px;
                width: 200px;
                float: right;

                li {
                    float: left;
                    margin-left: 8px;
                }
            }
        }
    }

    .navigationBar ul {
        li {
            list-style: none;

            a {
                color: #C0C0C0;
            }
        }
    }

    .navigationBar > ul {
        margin: 0;
		background-color:black;

        > li {
            padding: 10px;
            padding-left: 25px;
            height: 44px;
        }
    }

.goods {
    width: 782px;
    float: right;
    margin-left: 28px;
    margin-top: -10px;
}

li.dropdown-submenu {
    border-left: 1px solid #52A82B;
    border-right: 1px solid #52A82B;
}

    li.dropdown-submenu:hover {
        border-bottom: 1px solid #52A82B;
    border-top: 1px solid #52A82B;
    border-right: 1px solid black;
    background-color: black;
    height: 64px;
	padding:0px;

	span{
		display:inline-block;
		width:100%;
		height:100%;
		position:relative;
		right:-10px;
		z-index:1001;
		background-color:black;

		a{
			display:inline-block;
			padding:10px;
			padding-left:15px;
		}
	}
    }

.item {
    width: 168px;
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    .transition(~"background-color linear .1s,box-shadow linear .1s,border-color linear .1s");
    .box-shadow(0 0 5px rgba(0,0,0,.07));
    .border-radius(2px);
    border-top: 35px solid #ddd;
}
.item:hover{
    background-color: #fafafa;
    .box-shadow(0 0 8px rgba(0,0,0,.3));
    border-color: white;
    border-top: 35px solid #eee;
}
#container .item{
	position:relative;
	
    .info {
        margin: 0;
        &.title {
            padding: 2px 0 6px 0;
            text-shadow: 1px 1px 1px white;
            a {
                color: #333;
            }
            margin-top: -34px;
            margin-bottom: 7px;
        }
    }

    .bottom-info {
        margin: 6px 0 8px 0;
        color: #aaa;
        font-size: 12px;
    }

    img {
        padding: 1px;
        background-color: #bbb;
    }
}

#container {   
    padding-bottom: 45px;
    #infscr-loading {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
}