.header{
	width:980px;
	height:88px;
	color:#C0C0C0;
	margin:auto;
	background-color:black;
	background:url(../../images/header-back.png) 0 -32px repeat-x;
}
.header .header-title{
	width:360px;
	font-size:28px;
	float:left;
}
.header .mainmenu{
	width:424px;
	font-size:24px;
	margin-left:60px;
	float:left;
	li{
		list-style:none;
		float:left;
		margin-left:12px;
		line-height:100px;
		a{
			text-decoration:none;
			color:#C0C0C0;
		}
	}
}

.header .operate{
	width:100px;
	margin-left:20px;
	font-size:18px;
	float:right;
	line-height:100px;
	a{
		text-decoration:none;
		color:#C0C0C0;
	}
}
.mainnav a:hover{
	border-bottom:2px solid #F0C1C1;
}
a.active span{
	color:#52A82B;
	border-bottom:2px solid #EE3636;
}  