.header{
	width:980px;
	height:100px;
	color:#C0C0C0;
	margin:auto;
	background-color:black;
}
.header .header-title{
	width:360px;
	font-size:28px;
	float:left;
}
.header .mainmenu{
	width:424px;
	font-size:24px;
	margin-left:60px;
	float:left;
	li{
		list-style:none;
		float:left;
		margin-left:12px;
		line-height:100px;
		a{
			text-decoration:none;
			color:#C0C0C0;
		}
	}
}

.header .operate{
	width:100px;
	margin-left:20px;
	font-size:18px;
	float:right;
	line-height:100px;
	a{
		text-decoration:none;
		color:#C0C0C0;
	}
}
  