.content {
    width: 980px;
    margin: auto;
}

.process {
    height: 50px;
    font-size: 22px;
    margin-top: 20px;
    background-color: black;

    .step {
        width: 320px;
        float: left;


        a {
            color: #C0C0C0;
        }
    }
}

.title {
    height: 30px;
    background: #C0C0C0;
    font-size: 18px;
    color: #52A82B;
    margin-top: 20px;
    border-radius: 5px;

    span {
        line-height: 30px;
        margin-left: 10px;
    }
}

.classify {
    margin-top: 30px;
    font-size: 18px;
    background-color: #DAD8D8;
    padding: 15px;
    border-top: 5px solid #52A82B;
    color: black;

    ul {
        margin: 0px;

        li {
            height: 40px;
            list-style: none;

            a {
                color: black;
            }
        }
    }
}

.rectangle {
    width: 270px;
    height: 50px;
    background-color: #52A82B;
    float: left;
}

.right-triangle {
    height: 0;
    width: 0;
    border-left: 50px solid #52A82B;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    float: left;
}

    .right-triangle.transparent {
        position: relative;
        height: 0;
        width: 0;
        border-left: 50px solid black;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        float: left;
        margin-right: -50px;
    }

.step a {
    position: absolute;
    margin-top: 18px;
    margin-left: -265px;
}

.form-horizontal {
    margin-left: -84px;
}

.search_area {
    width: 980px;
    margin: auto;
    height: 60px;

    .search {
        float: left;

        .btn_search {
            width: 98px;
            height: 30px;
            background-color: #52A82B;
        }

        .span2{
            margin-right:10px;
        }
    }

    .ask_buy {
        float: right;
        width: 98px;
        height: 30px;
        background-color: #52A82B;
        font-size: 18px;

        span {
            line-height: 30px;
            margin: 10px;
        }

        a {
            color: white;
        }
    }
}

.info {
    width: 980px;
    margin-top: 20px;

    .info_head {
        height: 24px;
        width: 100px;
        background-color: #DDD;
        font-size: 20px;
        line-height: 24px;
		padding:10px;
		text-align:center;
    }

	.info_detail{
		table{
			border:1px solid #DDD;
		}
	}
}

.dl-horizontal{
    li{
        display:inline-block;
        margin-right:5px;
    }
}
