@{
  ViewBag.Title = "商品求购";
  Layout = "../Shared/_FGLayout.cshtml";
}
<header>
  <link href="@Url.Content("~/Content/pagecss/Buy/index.less")" rel="stylesheet" />
</header>
<div>
  <div class="content">
    <div class="search_area">
      <div class="search">
        <form class="form-inline">
          <select class="span2">
            <option>二手手机/手机号码</option>
          </select>
          <select class="span2">
            <option>二手手机</option>
          </select>
          <select class="span2">
            <option>iphone</option>
          </select>
          <button type="submit" class="btn_search">查询</button>
        </form>
      </div>
      <div class="ask_buy">
        <a href="../Buy/FirstStep">
          <div class="ask">
            <span>我要求购</span>
          </div>
        </a>
      </div>
    </div>
    <div class="info">
      <div class="info_head">
        <span>求购信息</span>
      </div>
      <div class="info_detail">
        <table class="table">
          <tbody>
            <tr>
              <td><a href="../Goods/Detail">四大名著 全套四册 全新 低价转让 - 30元</a></td>
              <td>4分钟</td>
            </tr>
            <tr>
              <td><a href="../Goods/Detail">四大名著 全套四册 全新 低价转让 - 30元</a></td>
              <td>4分钟</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
