@{
    ViewBag.Title = "更改密码";
    Layout = "~/Views/Shared/_LayoutWithoutHead.cshtml";
    
}
@section head{
  <link href="@Url.Content("~/Content/pagecss/Account/Register.less")" rel="stylesheet" />
}
<div class="content" style="font-size:20px;margin-top:60px">
  <p>
    您的密码已成功更改。
</p>
<p>前往<a class="btn" href="@Url.Action("Logon")" style="margin:14px">
  <i class="icon-user"></i>&nbsp;登录</a>界面</p>
</div>
