.content{
	width:980px;
	margin:auto;

}
.layout-left{
	margin-top:20px;
	float:left;
	width:240px;
}
.layout-right{
	float:right;
	width:700px;
	background-color:white;
	padding:10px;
	border-top: 5px solid #52A82B;
	margin-top:20px;
}
.layout-left ul{
	list-style:none;

	li{
		font-size:22px;
		height:50px;

		a{
			color:#C0C0C0;
		}
	}
}
.layout-right button{
	margin-left:30px;
}
.table{
	border: 1px solid #DDD;
}
.userinfo-head{
	height:94px;
	font-size:18px;

		ul{
			list-style:none;

			li{
				height:28px;
				line-height:28px;

				i{
					background-image: url(../../images/Certification.png);
					display:inline-block;
					width:27px;
					height:21px;
					position:relative;
					top:6px;
				}
			}
		}
}
.evaluate span{
	margin-left:26px;
	font-size:18px;
}
.evaluate .remark{
	.remark-survey{
		.icon{
			background-image: url(../../images/evalute.png);
			display:inline-block;
			position:absolute;
			width:20px;
			height:18px;
		}
		.icon-good{
			background-position:0 -35px;
		}
	}
}

.manage li.active a
{
    color: #52a82b !important;
}